@font-face {
    font-family: 'ATGRubrikRegular';
    src: url('fonts/atgrubrik-webfont.eot');
    src: url('fonts/atgrubrik-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/atgrubrik-webfont.woff') format('woff'),
         url('fonts/atgrubrik-webfont.ttf') format('truetype'),
         url('fonts/atgrubrik-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ATGTextBold';
    src: url('fonts/atgtext-bold-webfont.eot');
    src: url('fonts/atgtext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/atgtext-bold-webfont.woff') format('woff'),
         url('fonts/atgtext-bold-webfont.ttf') format('truetype'),
         url('fonts/atgtext-bold-webfont.svg#ATGTextBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ATGTextExtraBold';
    src: url('fonts/atgtext-extrabold-webfont.eot');
    src: url('fonts/atgtext-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/atgtext-extrabold-webfont.woff') format('woff'),
         url('fonts/atgtext-extrabold-webfont.ttf') format('truetype'),
         url('fonts/atgtext-extrabold-webfont.svg#ATGTextExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ATGTextBoldItalic';
    src: url('fonts/atgtext-bolditalic-webfont.eot');
    src: url('fonts/atgtext-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/atgtext-bolditalic-webfont.woff') format('woff'),
         url('fonts/atgtext-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/atgtext-bolditalic-webfont.svg#ATGTextBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ATGTextExtraBoldItalic';
    src: url('fonts/atgtext-extrabolditalic-webfont.eot');
    src: url('fonts/atgtext-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/atgtext-extrabolditalic-webfont.woff') format('woff'),
         url('fonts/atgtext-extrabolditalic-webfont.ttf') format('truetype'),
         url('fonts/atgtext-extrabolditalic-webfont.svg#ATGTextExtraBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ATGTextItalic';
    src: url('fonts/atgtext-italic-webfont.eot');
    src: url('fonts/atgtext-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/atgtext-italic-webfont.woff') format('woff'),
         url('fonts/atgtext-italic-webfont.ttf') format('truetype'),
         url('fonts/atgtext-italic-webfont.svg#ATGTextItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ATGTextMedium';
    src: url('fonts/atgtext-medium-webfont.eot');
    src: url('fonts/atgtext-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/atgtext-medium-webfont.woff') format('woff'),
         url('fonts/atgtext-medium-webfont.ttf') format('truetype'),
         url('fonts/atgtext-medium-webfont.svg#ATGTextMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ATGTextMediumItalic';
    src: url('fonts/atgtext-mediumitalic-webfont.eot');
    src: url('fonts/atgtext-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/atgtext-mediumitalic-webfont.woff') format('woff'),
         url('fonts/atgtext-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/atgtext-mediumitalic-webfont.svg#ATGTextMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ATGTextRegular';
    src: url('fonts/atgtext-regular-webfont.eot');
    src: url('fonts/atgtext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/atgtext-regular-webfont.woff') format('woff'),
         url('fonts/atgtext-regular-webfont.ttf') format('truetype'),
         url('fonts/atgtext-regular-webfont.svg#ATGTextRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ATGTextLight';
    src: url('fonts/atgtext-light-webfont.eot');
    src: url('fonts/atgtext-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/atgtext-light-webfont.woff') format('woff'),
         url('fonts/atgtext-light-webfont.ttf') format('truetype'),
         url('fonts/atgtext-light-webfont.svg#ATGTextLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ATGTextLightItalic';
    src: url('fonts/atgtext-lightitalic-webfont.eot');
    src: url('fonts/atgtext-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/atgtext-lightitalic-webfont.woff') format('woff'),
         url('fonts/atgtext-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/atgtext-lightitalic-webfont.svg#ATGTextLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*
@font-face {
    font-family: 'ATGRubrikRegular';
    src: url('fonts/atgrubrik-webfont.eot');
    src: url('fonts/atgrubrik-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/atgrubrik-webfont.woff') format('woff'),
         url('fonts/atgrubrik-webfont.ttf') format('truetype'),
         url('fonts/atgrubrik-webfont.svg#ATGRubrikRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/