*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container 
{
    /*
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    */
    
}

#photo 
{
    display: block;
    margin-left: 70px;
}

#text 
{
    padding-top: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;

}

.logo 
{
    padding-left: 10px;
}

.navbar
{
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

/*Här så gör jag li till ett inline block och positionerar dessa*/

.navbar ul li{
    float: left;
    list-style-type: none;
    margin-right: 16px;
    padding: 4px;
    
    position: relative;
}

/*Här stylar jag varje list item var för sig*/

.navbar ul li a{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    text-decoration: none;
    color: rgba(31, 26, 26, 0.884);
    
    text-transform: uppercase;
    transition: 0.6s;
}


.navbar ul li:hover ul{
    display: block;
}



/*Denna är för att ha det oranga understrecket!*/


.navbar ul li::after{
   
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(3, 219, 32);
    position: absolute;
    left: 0;
    bottom: -10px;  
    transition: 0.5s; 
}

/*Denna gör så att när vi hover i navibar så syns dessa oranga understräck*/


.navbar ul li:hover::after{
    width: 100%;
}

/*Denna hover för att göra själva texten mer transparant*/

.navbar ul li a:hover{
    color: rgba(31, 26, 26, 0.5);
}

.recipeBlock 
{
    display: block;
    float: left;
    border: 2px solid rgba(49, 48, 48, 0.89);
    margin: auto;
    width: 20%;
    height: 30%;
    margin-right: 30px;
    margin-left: 25px;
    margin-bottom: 30px;
    
    background-color: rgba(154, 250, 0, 0.582);  
}

.main-kolumn
{
    display: block;
    border: 2px solid rgba(49, 48, 48, 0.89);
    margin: auto;
    
    width: 65%;
    height: 80%;
    
    height: 100%;
    background-color: rgba(154, 156, 151, 0.719);   
}

.ingredient 
{
    float: left;
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: rgba(168, 235, 69, 0.719); 
    font-size: 20px;

}

.ingredient ul li {
    list-style: none;
    
}



.recipe-description
{
    display: inline-block;
    font-size: 20px;
    background-color: rgba(222, 246, 2, 0.541); 
    width: 50%;
    margin: auto;
    text-align: center;
}

.recipe-description ul li
{
    list-style: none;
}



.text-kolumn
{    
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif
}

.text
{
    padding-top: 250px;
    padding-left: 100px;
    color:rgba(29, 24, 24, 0.938);
    font-size:x-large;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif
}

.panel > .panel-heading 
{
    background-color: #5cb85c;
}

.image-empty-plate img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.image-empty-plate #zoom-in img {
    transform: scale(1);
    transition: 0.25s ease-in-out;
}


.image-empty-plate #zoom-in:hover img {
      transform: scale(1.06);
}

figure {
    overflow: hidden;
}



.cards {
    display: grid;
    margin: 4em auto;
    grid-gap: 20px;
    max-width: 1700px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  
}

.card 
{
    display: grid;
    grid-template-rows: max-content 200px 1fr;

}

.card h2 {
    margin: 0;
    padding: .5rem;
}

.card .content {
    padding: .5rem;
    border: 1px solid #3c763d;
    
}

.card header {
    background-color: #3c763d;
    text-align: center;
    vertical-align: middle;
}



.card footer {
    /*background-color: #3c763d;*/
    color: #000;
    padding: .5rem;
    height: 30px;
}

.cards .card footer a
{
    text-decoration: none;
}








#paragrapGreen
{
    position: relative;
    display: block;
    text-decoration: none;
    color: rgba(31, 26, 26, 0.884);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    /*transition: 1s;*/
}


#paragrapGreen:hover
{
    display: block;
}




/*Denna är för att ha det oranga understrecket!*/


#paragrapGreen::after{
   
    content: '';
    height: 3px;
    width: 100%;
    background: rgb(3, 219, 32);
    position: absolute;
    height: 0.0755rem;    
    left: 0;
    bottom: 0;  
    /*transition: 0.3s;*/
    
}


.paragrap-wrapper-style #paragrapGreen::after {
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

/*Denna gör så att när vi hover i navibar så syns dessa oranga understräck*/


.paragrap-wrapper-style #paragrapGreen:hover::after{
    transform: scale(1, 1);
}


.cards .card footer a:hover
{    
    /*background-color: #FFF;*/
}
.textColorCard 
{
    color:rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#beskrivning-text
{
    color: #000;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


.ingredient-wrapper {
    width: 500px;
}



.text-column-recipe 
{
    font-size: 18px;
    color: #5a5555;
    /*font-family: 'Quattrocento Sans', Arial, sans-serif;*/
    
    
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-style: normal;
    border-bottom: 1px solid #ddd;
}

.text-header 
{
    margin-bottom: 10px;
    height: 40px; 
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    height: 40px; 
    color: #5a5555;
    /*color: #545050;*/
    margin-bottom: 10px;
}

.header-description
{
	margin-right: 150px;
	text-align: center; 
    margin-bottom: 40px;
    color: #545050;
    font-size: 15px;
}

.wrapper 
{
    position: relative;
    text-align: center;
    color: white;
}

.centered 
{
    width: 100%;
    position: absolute;
    /*top: 35%;*/
    /*top: 40%;*/
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#center 
{
    font-weight: 800;
        /*font-weight: 700;*/
    margin-left: 55px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.welcome-picture 
{
    border-radius: 10px;

}


.buttonNumber {
    background-color: rgb(255, 255, 255);
    /*width: 50px;*/
    border-radius: 45rem;
}


.buttonNumber:hover 
{
    background-color: yellow;
}

.button-wrapper {
    width: 200px;
    background-color: #2bbbe7;
}


  .wrapper .centered button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    /*margin: 20px 10px;*/

    margin-top: 60px;
    margin-right: 100px;
    
    border-radius: 25px;
    font-size: normal;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0.493);
    background: transparent;
    color: #FFF;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/*Här så använder jag "button a" för att kunna komma åt src länken till kyrkans youtube*/

.wrapper .centered button span a {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-size: normal;
    font-weight: bold;
    background: transparent;
    color: #FFF;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

/* Här så använder vi span som är ett inline element för att färga button när man hover den*/ 

.wrapper .centered span {
    background: rgb(29, 189, 53);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

/*Här så används transition för att det ska ta 0.5 sekunder för att färgen ska blomma upp på buttonen*/ 

.wrapper .centered button:hover span {
    width: 100%;
}

.centered a {
    
    color: white;
    
}
